@model VentasApp.Models.Pedido

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.Bootstrap().Begin(new Form()))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.IdLlamada)
      
    <fieldset>
        <legend>Pedido</legend>
        <div class="well">
            <div class="row-fluid">
                <div class="span12">
                    <label>Farmacia (RUC): </label>
                    @Html.DropDownList("IdFarmacia", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlFarmacia"}
                                                       })
                </div>
            </div>
            <div id="divDetallesFarmacia">
                @Html.Partial("DetallesFarmaciaPartial", ViewBag.Farmacia as VentasApp.Models.Farmacia)
            </div>
        </div>

        @Html.Bootstrap().LabelFor(model => model.IdPresentacion).LabelText("Presentación")

        @Html.DropDownList("IdPresentacion", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlPresentacion"}
                                                       })
        @Html.ValidationMessageFor(model => model.IdPresentacion)

        @Html.Bootstrap().LabelFor(model => model.IdProveedor).LabelText("Proveedor")

        @Html.DropDownList("IdProveedor", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlProveedor"}
                                                       })
        @Html.ValidationMessageFor(model => model.IdProveedor)

        @Html.Bootstrap().LabelFor(model => model.IdFormaPago).LabelText("Forma de Pago")

        @Html.DropDownList("IdFormaPago", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlFormaPago"}
                                                       })
        @Html.ValidationMessageFor(model => model.IdFormaPago)

        @Html.Bootstrap().LabelFor(model => model.IdEstado)

        @Html.DropDownList("IdEstado", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlEstado"}
                                                       })
        @Html.ValidationMessageFor(model => model.IdEstado)

        @Html.Bootstrap().LabelFor(model => model.Cantidad)

        @Html.EditorFor(model => model.Cantidad)
        @Html.ValidationMessageFor(model => model.Cantidad)

        @Html.Bootstrap().LabelFor(model => model.PrecioTotal).LabelText("Monto total")
        @Html.EditorFor(model => model.PrecioTotal)
        @Html.ValidationMessageFor(model => model.PrecioTotal)

        @Html.Bootstrap().LabelFor(model => model.Comentario)

        @Html.TextAreaFor(model => model.Comentario)
        @Html.ValidationMessageFor(model => model.Comentario)

        @Html.Bootstrap().LabelFor(model => model.Fecha)
        <div class="input-append date datepicker" data-date="@DateTime.Now.ToString("dd/MM/yyyy")" data-date-format="dd/mm/yyyy">
            @Html.TextBox("Fecha", DateTime.Now, "{0:dd/MM/yyyy}", new { @placeholder = "Elegir", @id = "txtComparativoDesde", @readonly = "", @class = "span3" })
            <button class="btn light-blue inverse date-button" type="button"><i class="icon-th"></i></button>
        </div>
        @Html.ValidationMessageFor(model => model.Fecha)

    </fieldset>
    <div>
        @Html.Bootstrap().SubmitButton().Text("Guardar")
        @Html.Bootstrap().ActionLinkButton("Regresar a la lista",
                    "Index", "Pedido")
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#ddlFarmacia").change(
            function () {
                loadDatos(this);
            });
        });

        function loadDatos(selectList) {
            var selectedId = $(selectList).val();
            if (selectedId != null && selectedId != '') {
                $.ajax({
                    url: '@Url.Action("GetDetallesFarmaciaPartial", "Pedido")',
                    type: 'GET',
                    data: { id: selectedId },
                    success: function (result) {
                        $("#divDetallesFarmacia").html(result);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        }
    </script>
}

