@model VentasApp.Models.Pedido

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pedido</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IdLlamada)

        <div class="well">
            <div class="row-fluid">
                <div class="span12">
                    <label>Farmacia (RUC): </label>
                    @Html.DropDownList("IdFarmacia", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlFarmacia"}
                                                       })
                </div>
            </div>
            <div id="divDetallesFarmacia">
                @Html.Partial("DetallesFarmaciaPartial", ViewBag.Farmacia as VentasApp.Models.Farmacia)
            </div>
        </div>
        <div class="row-fluid">
            <div class="well">
                <div class="row-fluid">
                    <div class="box-header">
                        <i class="icon-folder-close"></i>Campañas Vigentes
                    </div>
                </div>
                <div class="row-fluid">
                        @Html.Partial("CampaniasPartial", ViewBag.Campanias as List<VentasApp.Models.Campania>)
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="well">
                <div class="row-fluid">
                    <div class="span6">
                        @Html.Bootstrap().Label("lblPresentacion").LabelText("Presentación")

                        @Html.DropDownList("IdPresentacion", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlPresentacion"}
                                                       })
                    </div>
                    <div class="span2">
                        @Html.Bootstrap().Label("lblCantidad").LabelText("Cantidad")

                        @Html.TextBox("txtCantidad", "0", new { @id = "txtCantidad", @class = "span12" })
                    </div>
                    <div class="span4">
                        <button class="btn btn-primary" onclick="addPresentacion()" type="button">Agregar</button>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12" id="divPresentaciones">
                        @Html.Partial("PresentacionesPartial", ViewBag.Presentaciones as List<VentasApp.Models.Presentacion_Pedido>)
                    </div>
                </div>
            </div>
        </div>


        @Html.Bootstrap().LabelFor(model => model.IdProveedor).LabelText("Proveedor")

        @Html.DropDownList("IdProveedor", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlProveedor"}
                                                       })
        @Html.ValidationMessageFor(model => model.IdProveedor)

        @Html.Bootstrap().LabelFor(model => model.IdFormaPago).LabelText("Forma de Pago")

        @Html.DropDownList("IdFormaPago", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlFormaPago"}
                                                       })
        @Html.ValidationMessageFor(model => model.IdFormaPago)

        @Html.Bootstrap().LabelFor(model => model.IdEstado).LabelText("Estado")

        @Html.DropDownList("IdEstado", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlEstado"}
                                                       })
        @Html.ValidationMessageFor(model => model.IdEstado)

        @Html.Bootstrap().LabelFor(model => model.Comentario)

        @Html.TextAreaFor(model => model.Comentario)
        @Html.ValidationMessageFor(model => model.Comentario)

        @Html.Bootstrap().LabelFor(model => model.Fecha)
        <div class="input-append date datepicker" data-date="@DateTime.Now.ToString("dd/MM/yyyy")" data-date-format="dd/mm/yyyy">
            @Html.TextBox("Fecha", DateTime.Now, "{0:dd/MM/yyyy}", new { @placeholder = "Elegir", @id = "txtComparativoDesde", @readonly = "", @class = "span3" })
            <button class="btn light-blue inverse date-button" type="button"><i class="icon-th"></i></button>
        </div>
        @Html.ValidationMessageFor(model => model.Fecha)

    </fieldset>
    <div>
        @Html.Bootstrap().SubmitButton().Text("Guardar")
        @Html.Bootstrap().ActionLinkButton("Regresar a la lista",
                    "Index", "Pedido")
    </div>
}

<div id="modal-selCampania" class="modal hide fade">
    @Html.Partial("SelectCampaniaPartial", new List<VentasApp.Models.Campania>())
</div>

@section Scripts{
    <script type="text/javascript">
        function showModalSelectCampania() {
            $('#modal-selCampania').modal('show');
        }
        function hideModalSelectCampania() {
            $('#modal-selCampania').modal('hide');
        }
        $(function () {
            $("#ddlFarmacia").change(
            function () {
                loadDatos(this);
            });
        });

        function loadDatos(selectList) {
            var selectedId = $(selectList).val();
            if (selectedId != null && selectedId != '') {
                $.ajax({
                    url: '@Url.Action("GetDetallesFarmaciaPartial", "Pedido")',
                    type: 'GET',
                    data: { id: selectedId },
                    success: function (result) {
                        $("#divDetallesFarmacia").html(result);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        }

        function addPresentacion() {
            var idPres = $("#ddlPresentacion").val();
            var cant = $("#txtCantidad").val();
            if (idPres != null && idPres != '') {
                $.ajax({
                    url: '@Url.Action("AddPresentacion", "Pedido")',
                    type: 'GET',
                    data: { idPresentacion: idPres, cantidad: cant },
                    success: function (result) {
                        $("#divPresentaciones").html(result);
                        $("#ddlPresentacion").val('').trigger('liszt:updated');
                        $("#txtCantidad").val("0");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        }
    </script>
}

