@model IEnumerable<VentasApp.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Pedidos</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>Prov.
            </th>
            <th>Precio
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                @item.Fecha.Value.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Alerta", "SendMail", new { id = item.Id })
            </td>
        </tr>
    }

</table>
