@model IEnumerable<VentasApp.Models.Presentacion_Pedido>
@{
    decimal total = 0;
}

<table class="table table-striped data-table-simple">
    <thead>
        <tr>
            <th>Nombre
            </th>
            <th>Precio
            </th>
            <th>Dscto.
            </th>
            <th>Cantidad</th>
            <th>S. Total</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        total += (item.Presentacion.Precio.Value * item.Cantidad.Value * (100 - item.Presentacion.Descuento.Value) / 100);
        <tr>
            <td>
                @string.Format("{0} - {1}", item.Presentacion.Producto.Nombre, item.Presentacion.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presentacion.Precio)
            </td>
            <td>
                @string.Format("{0}%", item.Presentacion.Descuento)
            </td>
            <td>
                @item.Cantidad
            </td>
            <td>
                @(decimal.Round(Convert.ToDecimal(item.Cantidad * item.Presentacion.Precio * (100 - item.Presentacion.Descuento) / 100), 2))
            </td>
            <td>
                @Ajax.ActionLink("Eliminar", "RemovePresentacion", new { id = item.IdPresentacion }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divPresentaciones" })
            </td>
        </tr>
    }

</table>

<span>
    <strong>Monto Total:</strong> @decimal.Round((decimal)total, 2)
</span>
@Html.Hidden("PrecioTotal", total)

<script type="text/javascript">
    $(function () {
        $('.data-table-simple').dataTable({
            "aoColumns": [
                           { "sTitle": "Nombre", "bSortable": true },
                           { "sTitle": "Precio", "bSortable": false },
                           { "sTitle": "Dscto.", "bSortable": false },
                           { "sTitle": "Cant.", "bSortable": false },
                           { "sTitle": "S. Total", "bSortable": false },
                           { "sTitle": null, "bSortable": false }
            ],
            "oLanguage": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "sDom": '<""l>t'
        });
    })
</script>
