@model VentasApp.Models.Llamada

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Llamada</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdFarmacia, "Farmacia")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdFarmacia", null, String.Empty, new Dictionary<string, object>
                                                       {
                                                           { "data-placeholder", "Seleccione" },
                                                           { "class", "chzn-select" },
                                                           { "id", "ddlFarmacia"}
                                                       })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observaciones)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observaciones)
            @Html.ValidationMessageFor(model => model.Observaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            <div class="input-append date datepicker" data-date="@DateTime.Now.ToString("dd/MM/yyyy")" data-date-format="dd/mm/yyyy">
                @Html.TextBox("Fecha", DateTime.Now, "{0:dd/MM/yyyy}", new { @placeholder = "Elegir", @id = "txtComparativoDesde", @readonly = "" })
                <button class="btn light-blue inverse date-button" type="button"><i class="icon-th"></i></button>
            </div>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
