@model VentasApp.Models.Llamada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Llamada</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdFarmacia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdFarmacia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Observaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
