@model IEnumerable<VentasApp.Models.Llamada>

@{
    ViewBag.Title = "Index";
}

<h2>Llamadas</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>Farmacia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Farmacia.RazonComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @item.Fecha.Value.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("+ Pedido", "CreatePedido", new { id = item.Id })
            </td>
        </tr>
    }

</table>
