@model IEnumerable<VentasApp.Models.Llamada>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/jpreloader")
@Scripts.Render("~/bundles/jpreloader")
<h2>Llamadas</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<div id="divTable">
    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Farmacia
                </th>
                <th>RUC
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </th>
                <th>
                    F. Registro
                </th>
                <th>
                    F. Rellamada
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Farmacia.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Farmacia.Ruc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @(item.Fecha.HasValue ? item.Fecha.Value.ToString("dd/MM/yyyy") : "Pendiente")
                </td>
                <td>
                    @(item.FechaPrevistaRellamada.HasValue ? item.FechaPrevistaRellamada.Value.ToString("dd/MM/yyyy hh:mm") : "No tiene")
                </td>
                <td>
                    @(item.Estado != null ? item.Estado.Nombre : "No asignado")
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("+ Pedido", "CreatePedido", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divTable').jpreLoader();
        });
    </script>
}