@model IEnumerable<VentasApp.Models.Llamada>

@{
    ViewBag.Title = "Seguimiento";
    DateTime now = TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("SA Pacific Standard Time"));
}
@Styles.Render("~/Content/jpreloader")
@Scripts.Render("~/bundles/jpreloader")
<h2>Seguimiento de Llamadas</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<div id="divTable">
    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Farmacia
                </th>
                <th>RUC
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </th>
                <th>
                    F. Registro
                </th>
                <th>
                    F. Rellamada
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            bool hoy = item.FechaPrevistaRellamada.Value.Date.Equals(now.Date);
            <tr class="@(hoy ? "light-blue-custom" : "")">
                <td class="@(hoy ? "light-blue-custom" : "")">
                    @Html.DisplayFor(modelItem => item.Farmacia.RazonSocial)
                    <br />
                    <small class="table-cell-info"><i class="icon-phone"></i>@item.Farmacia.Telefono</small>
                </td>
                <td class="@(hoy ? "light-blue-custom" : "")">
                    @Html.DisplayFor(modelItem => item.Farmacia.Ruc)
                </td>
                <td class="@(hoy ? "light-blue-custom" : "")">
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td class="@(hoy ? "light-blue-custom" : "")">
                    @(item.Fecha.HasValue ? item.Fecha.Value.ToString("dd/MM/yyyy") : "Pendiente")
                </td>
                <td class="@(hoy ? "light-blue-custom" : "")">
                    @(item.FechaPrevistaRellamada.HasValue ? item.FechaPrevistaRellamada.Value.ToString("dd/MM/yyyy HH:mm") : "No tiene")
                </td>
                <td class="@(hoy ? "light-blue-custom" : "")">
                    @(item.Estado != null ? item.Estado.Nombre : "No asignado")
                </td>
                <td class="@(hoy ? "light-blue-custom" : "")">
                    @Html.ActionLink("Editar", "EditSeguimiento", new { id = item.Id }) 
                </td>
            </tr>
        }

    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divTable').jpreLoader();
        });
    </script>
}