@model VentasApp.Models.Farmacia

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Farmacia</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Zona)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Zona)
            @Html.ValidationMessageFor(model => model.Zona)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ruc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ruc)
            @Html.ValidationMessageFor(model => model.Ruc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RazonSocial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RazonSocial)
            @Html.ValidationMessageFor(model => model.RazonSocial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RazonComercial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RazonComercial)
            @Html.ValidationMessageFor(model => model.RazonComercial)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdUbigeo, "Ubigeo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdUbigeo", String.Empty)
            @Html.ValidationMessageFor(model => model.IdUbigeo)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.IdUbigeo, "Ubicación")
        </div>
        @Html.DropDownList("ddlRegiones", null, "Seleccione", new { @id = "ddlRegiones" })
        <select id="ddlProvincias">
            <option></option>
        </select>
        <select name="IdUbigeo" id="ddlDistritos">
            <option></option>
        </select>
        @*@Html.DropDownList("ddlProvincias", null, string.Empty, new { @id = "ddlProvincias" })
        @Html.DropDownList("ddlDistritos", null, string.Empty, new { @id = "ddlDistritos" })*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Propietario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Propietario)
            @Html.ValidationMessageFor(model => model.Propietario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EncargadoCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EncargadoCompra)
            @Html.ValidationMessageFor(model => model.EncargadoCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Frecuencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Frecuencia)
            @Html.ValidationMessageFor(model => model.Frecuencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiasCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiasCompra)
            @Html.ValidationMessageFor(model => model.DiasCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Horario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Horario)
            @Html.ValidationMessageFor(model => model.Horario)
        </div>
    </fieldset>
    
    <div>
        @Html.Bootstrap().SubmitButton().Text("Guardar")
        @Html.Bootstrap().ActionLinkButton("Regresar a la lista",
                    "Index", "Farmacia")
    </div>
}


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#ddlRegiones").change(
            function () {
                loadProvincia(this);
            });
            $("#ddlProvincias").change(
            function () {
                loadDistrito(this);
            });
        });

        function loadProvincia(selectList) {
            var selectedId = $(selectList).val();
            if (selectedId != null && selectedId != '') {
                $.getJSON('@Url.Action("GetProvinciasByRegion", "Farmacia")', { ubigeo: selectedId }, function (provincias) {
                    var provinciasSelect = $('#ddlProvincias');
                    provinciasSelect.empty();
                    $.each(provincias, function (index, provincia) {
                        provinciasSelect.append($('<option/>', {
                            value: provincia.value,
                            text: provincia.text
                        }));
                    });
                    //$("#ddlProvincias").trigger("liszt:updated");
                    $("#ddlProvincias").change();
                });
            }
        }

        function loadDistrito(selectList) {
            var selectedId = $(selectList).val();
            if (selectedId != null && selectedId != '') {
                $.getJSON('@Url.Action("GetDistritosByProvincia", "Farmacia")', { ubigeo: selectedId }, function (distritos) {
                    var distritosSelect = $('#ddlDistritos');
                    distritosSelect.empty();
                    $.each(distritos, function (index, distrito) {
                        distritosSelect.append($('<option/>', {
                            value: distrito.value,
                            text: distrito.text
                        }));
                    });
                    //$("#ddlDistrito").trigger("liszt:updated");
                    $("#ddlDistritos").change();
                });
            }
        }
    </script>
}