@model VentasApp.Models.Farmacia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Farmacia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zona)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zona)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ruc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ruc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RazonSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RazonSocial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RazonComercial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RazonComercial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ubigeo.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ubigeo.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Propietario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Propietario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EncargadoCompra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EncargadoCompra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frecuencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Frecuencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiasCompra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiasCompra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Horario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Horario)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
