@model IEnumerable<VentasApp.Models.Farmacia>

@{
    ViewBag.Title = "Farmacias";
}
@Styles.Render("~/Content/jpreloader")
@Scripts.Render("~/bundles/jpreloader")
<h2>Farmacias</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<div id="divTable">
    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ruc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RazonSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RazonComercial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ubigeo.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ruc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonComercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubigeo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divTable').jpreLoader();
        });
    </script>
}