@model VentasApp.Models.Producto

@{
    ViewBag.Title = "Eliminar";
}

<h3>¿Estás seguro que deseas eliminar este registro?</h3>
<fieldset>
    <legend>Producto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div>
        @Html.Bootstrap().SubmitButton().Text("Eliminar").Style(ButtonStyle.Danger)
        @Html.Bootstrap().ActionLinkButton("Regresar a la lista",
                    "Index", "Producto")
    </div>
}
