<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Pedidos</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/chozn")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/uniform")
    @Scripts.Render("~/bundles/pagination")
    @Scripts.Render("~/bundles/validate")

</head>
<body>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display:none;" }))
    {
        @Html.AntiForgeryToken()
    }
    <nav id="primary" class="main-nav collapsible-nav">
        <!-- Brand -->
        <a id="sidebar-brand" href="../pages/dashboard.html">Pedidos
        </a>
        <button type="button" class="btn btn-navbar btn-inverse" data-toggle="collapse" data-target=".nav-collapse">
            <i class="icon-reorder"></i>
        </button>

        <ul class="nav-collapse collapse">
            @{
                var usuario = new VentasApp.Models.Entities().UserProfile.FirstOrDefault(u => u.UserName == User.Identity.Name);
                string nombreUsuario = usuario == null ? string.Empty : string.Format("{0} {1}", usuario.FirstName, usuario.LastName);
            }
            <!-- Profile -->
            <li class="profile">
                <a href="#profile-opts" class="accordion-toggle" data-toggle="collapse">
                    <img class="avatar">
                    <span class="text" id="profile-text">@nombreUsuario <b class="caret"></b>
                    </span>
                </a>

                <ul id="profile-opts" class="collapse secondary">
                    <li class="">
                        <a href="@Url.Action("ChangePass", "Account")">Cambiar Contraseña
                        </a>
                    </li>
                    <li class="">


                        <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>

                    </li>
                </ul>
            </li>
            @if (Roles.IsUserInRole("Administrador"))
            {
                string linea = new VentasApp.Models.Entities().NombreTabla.First(r => r.Tabla == "Linea").NombreMostrar;
                <!-- Administración -->
                <li class="">
                    <a href="#seguridad-list" class="accordion-toggle" data-toggle="collapse">
                        <span class="icon">
                            <i class="icon-group"></i>
                        </span>
                        <span class="text">Administración <b class="caret"></b></span>
                    </a>
                    <ul id="seguridad-list" class="collapse secondary">
                        <li class="">
                            @Html.ActionLink("Usuarios", "ManageUsers", "Account")
                        </li>
                        <li class="">
                            @Html.ActionLink("Roles", "Index", "Rol")
                        </li>
                        <li class="">
                            @Html.ActionLink(linea, "Index", "Linea")
                        </li>
                        <li class="">
                            @Html.ActionLink("Productos", "Index", "Producto")
                        </li>
                        <li class="">
                            @Html.ActionLink("Presentaciones", "Index", "Presentacion")
                        </li>
                        <li class="">
                            @Html.ActionLink("Farmacias", "Index", "Farmacia")
                        </li>
                        <li class="">
                            @Html.ActionLink("Proveedores", "Index", "Proveedor")
                        </li>
                    </ul>
                </li>
            }
            <!-- Llamadas -->
            @if (Roles.IsUserInRole("Administrador"))
            {
                <li class="">
                    <a href="#llamadas-list" class="accordion-toggle" data-toggle="collapse">
                        <span class="icon">
                            <i class="icon-phone"></i>
                        </span>
                        <span class="text">Llamadas <b class="caret"></b></span>
                    </a>
                    <ul id="llamadas-list" class="collapse secondary">
                        <li class="">
                            @Html.ActionLink("Administración", "Index", "Llamada")
                        </li>
                    </ul>
                </li>
            }
            <!-- Pedidos -->
            @if (Roles.IsUserInRole("Administrador"))
            {
                <li class="">
                    <a href="#pedidos-list" class="accordion-toggle" data-toggle="collapse">
                        <span class="icon">
                            <i class="icon-money"></i>
                        </span>
                        <span class="text">Pedidos <b class="caret"></b></span>
                    </a>
                    <ul id="pedidos-list" class="collapse secondary">
                        <li>
                            @Html.ActionLink("Administración", "Index", "Pedido")
                        </li>
                    </ul>
                </li>
            }

            <!-- Pedidos -->

            @if (Roles.IsUserInRole("Administrador"))
            {
                <!-- Reportes -->
                <li class="">
                    <a href="#reportes-list" class="accordion-toggle" data-toggle="collapse">
                        <span class="icon">
                            <i class="icon-odata"></i>
                        </span>
                        <span class="text">Reportes <b class="caret"></b>
                        </span>
                    </a>
                    <ul id="reportes-list" class="collapse secondary">
                        <li>
                            @Html.ActionLink("Llamadas y Pedidos", "Index", "Report")
                        </li>
                        @*<li class="li-disabled">
                            @Html.ActionLink("Pedidos", "Pedidos", "Report")
                        </li>*@
                    </ul>
                </li>
            }
        </ul>

    </nav>

    <div class="top-bar">
        <a id="topbar-brand" class="brand" href="../dashboard.html">Pedidos
        </a>


    </div>
    <section id="main">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="box bordered">
                        <div class="padded">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">

                    <div class="box footer">
                        <div class="copyright text-transparent center">
                            <div>2013 &copy; Zuku Studios</div>
                            <div>Created by r2d2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Modal dialog used for the image gallery -->
    <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="modal-image"></div>
        </div>
        <div class="modal-footer">
            <a class="btn modal-download light-blue inverse" target="_blank"><i class="icon-download"></i>Download</a>
            <a class="btn modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i>Slideshow</a>
            <a class="btn modal-prev medium-blue"><i class="icon-arrow-left icon-white"></i>Previous</a>
            <a class="btn modal-next medium-blue">Next <i class="icon-arrow-right icon-white"></i></a>
        </div>
    </div>
    @RenderSection("loading", required: false)
    @Scripts.Render("~/bundles/moo")
    @Scripts.Render("~/bundles/meio")
    @Scripts.Render("~/bundles/custom")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('.li-disabled').live('click', function (e) {
            e.preventDefault();
            alert('Esta opción aun no está habilitada. Disculpe la molestia.');
        });


    </script>
</body>
</html>
